{{ define "main" }}
{{ partial "android-header.html" . }}
<div class="container content-container" id="main">
    <div class="row-fluid" style="margin-bottom: 10px;">
        <p class="span12">
            <a href="#menu" class="side-menu-link btn btn-mini" title="Click for sub-menu">
                <i class="icon-th"></i>
            </a>
        </p>
    </div>

    <div class="col-sm-3">
        <div id="wrap" class="row-fluid wrap">
            <!--Sidebar content-->
            <div class="sidenav">
                <!--Sidebar content-->
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/android">Overview</a></li>
                    <li><a href="/android/get-started#anchor">Get Started</a></li>
                    <li><a href="/android/tutorials#anchor">Tutorials</a></li>
                    <li><a href="/android/examples#anchor">Examples</a></li>
                    <li><a href="/android/docs#anchor">Docs</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Body content-->
    <section class="col-sm-9">
        {{ .Content }}
    </section>
</div>
{{ end }}