<div class="container-fluid">
    <div class="row ww-carousel">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/img/serverkit-background.jpg" alt="" style="width:100%;">
                    <div class="jumbotron-overlay"></div>
                    <div class="heading">
                        <h1>WorldWind Server Kit</h1>
                    </div>
                </div>

                <div class="item">
                    <img src="/img/web-background.jpg" alt="" style="width:100%;">
                    <div class="jumbotron-overlay"></div>
                    <div class="heading">
                        <h1>WorldWind Server Kit</h1>
                    </div>
                </div>

                <div class="item">
                    <img src="/img/android-background.jpg" alt="" style="width:100%;">
                    <div class="jumbotron-overlay"></div>
                    <div class="heading">
                        <h1>WorldWind Server Kit</h1>
                    </div>
                </div>

                <div class="item">
                    <img src="/img/java-background.jpg" alt="" style="width:100%;">
                    <div class="jumbotron-overlay"></div>
                    <div class="heading">
                        <h1>WorldWind Server Kit</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>