<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NASA WorldWind Software Development Kits (SDKs) for geo-spatial 3D virtual
        globe visualization via OpenGL/WebGL on Android, Java and JavaScript/HTML5 platforms.">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <title>
        Contact/NASA WorldWind
    </title>
    {{ partial "google_analytics.html" . }}


</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img id="logo-size" src="/img/nasa-logo.svg" alt="Blue NASA Meatball"/></a>
            <a class="navbar-brand" href="/">NASA WorldWind</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <li><a href="/web">Web</a></li>
                <li><a href="/android">Android</a></li>
                <li><a href="/java">Java</a></li>
                <li><a href="/serverkit">Server Kit</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">


    <h2 id="contact-us">Contact Us</h2>

    <hr />

    <form id="contactForm" action="/php/contact.php" method="post">
        <div id="formStatus"></div>

        <div class="controls">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h4>Name *</h4>
                        <input id="form_name" type="text" name="name" class="form-control" required="required">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h4>Email *</h4>
                        <input id="form_name" type="email" name="email" class="form-control" required="required">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4>Message *</h4>
                        <textarea id="form_message" name="message" class="form-control" rows="4" required="required"></textarea>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="g-recaptcha" data-sitekey="6LfICEEUAAAAAJBI4d-Zc5HMPApBstwKpzImgpX5"></div>
                    <br/>
                </div>

                <div class="col-md-12">
                    <input class="btn btn-success btn-send" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>

</div>

<br>
<br>
    
<div class="container-fluid panel-footer">
    <div class="row">
        <div class="col-sm-1 col-md-offset-4 text-center">
            <a href="/">Home</a>
        </div>
        <div class="col-sm-1 text-center">
            <a href="/about">About</a>
        </div>
        <div class="col-sm-1 text-center">
            <a href="/contact">Contact</a>
        </div>
        <div class="col-sm-1 text-center">
            <a href="/sitemap">Site Map</a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/event-tracking.js"></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<script src="/js/jq-ajax.js"></script>
</body>
</html>
